%h2 Sign in
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class=>'form-horizontal'}) do |f|
  .inputs
    = f.input :email, :required => false, :autofocus => true
    = f.input :password, :required => false

    - if devise_mapping.rememberable?
      .control-group
        .controls
          %input{:type=>'hidden', :value=>0, :name=>'user[remember_me]'}
          %label.checkbox
            %input{:type=>'checkbox', :id=>'user_remember_me', :class=>'boolean optional', :value=>1,:name=>'user[remember_me]'} Remember Me
          = f.button :submit, "Sign in", :class => 'btn-primary', 'data-loading-text'=>'Submitting...'

= render :partial => "devise/shared/links"
